html {
    background-color: #eee;
}
html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.vertical-center-container {
    display: table;
    height: 100%;
    width: 100%;
}
.vertical-center {
    display: table-cell;
    vertical-align: middle;
}

/* = Typography = */
h1 {
    color: #555;
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
    text-transform: uppercase;
    font-size: 100px;
    text-align: center;
    width: 100%;
    margin: 0 auto;
    padding: 0;
    position: relative;
    top: -20px;
}
h1 > span > * {
    letter-spacing: 0;
    display: inline-block;
    opacity: .75;
    line-height: .9em;
}
h1 strong {
    letter-spacing: 5px;
    position: relative;
    opacity: 1;
}

#time-container {
    max-width: 80%;
    margin: 0 auto;
}

#time {
    top: 0;
    opacity: 1;
    transform: scale(1);
    -webkit-transform: scale(1);
    transition: all .5s, opacity .75s;
    -webkit-transition: all .5s, opacity .75s;
}
#time.animate {
    animation: tick 1s;
    -webkit-animation: tick 1s;
}

body.loading #time {
    top: -30px;
    opacity: 0;
}

@keyframes tick {
    50%  { opacity: 0; top: 30px;  }
    51%  { opacity: 0; top: -30px; }
    100% { opacity: 1; top: 0;     }
}
@-webkit-keyframes tick {
    50%  { opacity: 0; top: 30px;  }
    51%  { opacity: 0; top: -30px; }
    100% { opacity: 1; top: 0;     }
}

/* = Notifications = */
.notification {
    position: absolute;
    background-color: #fff;
    width: 90%;
    max-width: 800px;
    border-radius: 2px;
    box-shadow: 0 1px 1px rgba(0,0,0,.25);
    margin-top: 20px;
    left: 50%;
    margin-left: -400px;
    overflow: hidden;
    opacity: .95;
}
.notification h2 {
    display: inline-block;
    margin: 0;
    line-height: 18px;
    vertical-align: middle;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    background-color: #f8f8f8;
    border-right: 1px solid #ddd;
    padding: 10px 12px;
    color: #FA2436;
}
.notification p {
    display: inline-block;
    margin: 0;
    line-height: 18px;
    vertical-align: middle;
    font-size: 13px;
    padding: 10px 5px;
}

/* = Settings = */
#settings {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    padding: 0 0 15px 0;
    list-style-type: none;
    margin: 0;
    text-align: center;
    font-size: 0;
}
#settings span {
    color: #666;
}
#settings > li {
    display: inline-block;
    position: relative;
    transition: all .5s;
    -webkit-transition: all .5s;
    bottom: -10px;
    opacity: 0;
}
#settings > li > span {
    font-size: 13px;
    text-decoration: none;
    opacity: .66;
    padding: 10px 6px 5px;
    cursor: pointer;
}
#settings > li:hover > span { opacity: 1; }
#settings ul {
    list-style-type: none;
    position: fixed;
    bottom: 40px;
    width: 100%;
    left: 0;
    display: none;
    left: 0;
    padding: 0;
}
#settings > li:hover > ul { display: block; }
#settings ul li {
    display: inline-block;
}
#settings ul li span {
    padding: 5px 4px;
    text-decoration: none;
    opacity: .66;
    font-size: 13px;
    cursor: pointer;
}
#settings ul li span:hover, #settings ul li.active span {
    opacity: 1;
}

#settings.show > li {
    opacity: 1;
    bottom: 0;
}

/* = Responsive = */
@media screen and (max-width: 840px) {
    .notification {
        margin-left: 0;
        left: 5%;
    }
}

@media screen and (orientation: portrait) {
    
}


/* = Text selection = */
*::selection { background: rgba(0,0,0,.1); }
*::-moz-selection { background: rgba(0,0,0,.1); }