html {
    background: #00ffa2; /* Old browsers */
    background: -moz-linear-gradient(45deg,  #00ffa2 0%, #07d0c9 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,#00ffa2), color-stop(100%,#07d0c9)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(45deg,  #00ffa2 0%,#07d0c9 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(45deg,  #00ffa2 0%,#07d0c9 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(45deg,  #00ffa2 0%,#07d0c9 100%); /* IE10+ */
    background: linear-gradient(45deg,  #00ffa2 0%,#07d0c9 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffa2', endColorstr='#07d0c9',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

h1 {
    color: #fff;
}
#settings span {
    color: #fff;
}