html {
    background: #fc0071; /* Old browsers */
    background: -moz-linear-gradient(-45deg,  #fc0071 2%, #f94402 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right bottom, color-stop(2%,#fc0071), color-stop(100%,#f94402)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(-45deg,  #fc0071 2%,#f94402 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(-45deg,  #fc0071 2%,#f94402 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(-45deg,  #fc0071 2%,#f94402 100%); /* IE10+ */
    background: linear-gradient(135deg,  #fc0071 2%,#f94402 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fc0071', endColorstr='#f94402',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

h1 {
    color: #fff;
}
#settings span {
    color: #fff;
}