html {
    background-image: url('../../images/waves.jpg');
    background-size: cover;
    background-position: top center;
}

h1 {
    color: #fff;
    text-shadow: 0 0 25px rgba(0,0,0,.33);
}
#settings span {
    color: #fff;
    text-shadow: 0 0 5px rgba(0,0,0,.33);
}